.section {
  margin-top: 5rem;
}
.btn {
  text-transform: uppercase;
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 2px solid transparent;
  padding: 0.45rem 0.8rem;
  letter-spacing: var(--mainSpacing);
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: var(--mainBorderRadius);
  transition: var(--mainTransition);
}
.btn:hover {
  background: var(--primaryLightColor);
  color: var(--primaryColor);
}

/********Navbar*********/
.heading {
  /* display: flex;
  justify-content: center; */
  border-bottom: 2px solid var(--primaryColor);
  box-shadow: var(--lightShadow);
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
}
.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.logo {
  width: 12rem;
  display: flex;
  justify-content: center;
}

.link {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border: transparent;
  background-color: transparent;
}

.active {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border: transparent;
  background-color: transparent;
  color: var(--primaryColor);
}

/********Home*********/

form {
  margin: 0 auto;
  background-color: white;
  width: 40rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  padding: 2rem 2.5rem;
  box-shadow: var(--lightShadow);
}

.title {
  margin-bottom: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: var(--primaryColor);
}
.search {
  width: 100%;
  border: transparent;
  background: var(--mainBackground);
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: var(--mainBorderRadius);
}

/********Cocktails*********/

.cocktail-container {
  margin: 0 auto;
  text-align: center;
  width: 70vw;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

.cocktail-container ul {
  display: grid;
  /* grid-template-columns: minmax(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-column-gap: 2rem;
}
.card {
  background: var(--mainWhite);
  margin-bottom: 4rem;
  box-shadow: 2px 5px 3px 0 rgb(0 0 0 / 50%);
  transition: all 0.3s linear;
  border-radius: var(--mainBorderRadius);
}

.card:hover {
  box-shadow: var(--darkShadow);
}

.card img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}
.cocktail-footer h1,
h3,
p {
  margin-bottom: 10px;
}
.cocktail-footer {
  padding: 1.5rem;
}

/********About*********/
.about-container {
  margin: 0 auto;
  width: 40rem;
}
.about-container h1 {
  text-align: center;
}
.about-container p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
/********Error*********/

.error-container {
  text-align: center;
}

/********Loading*********/
.loading {
  margin: 88px auto;
  margin-top: 20rem;
  display: flex;
  gap: 15px;
  width: 200px;
}

.rectangle {
  background-color: transparent;
  height: 4em;
  width: 50px;
  animation: loading 0.5s infinite cubic-bezier(0.62, 0.04, 0.42, 0.84)
    alternate;
  font-size: 1.5rem;
}

.one {
  animation-delay: 0s;
}
.two {
  animation-delay: 0.1s;
}
.three {
  animation-delay: 0.2s;
}

@keyframes loading {
  0% {
    box-shadow: 0 0 var(--primaryColor);
  }
  100% {
    box-shadow: 0 -4em var(--primaryColor);
    height: 4em;
  }
}
/********CocktailSinglePage*********/
.single-cocktail {
  text-align: center;
  margin-bottom: 80px;
}

.single-cocktail h2 {
  font-size: 2rem;
  text-transform: capitalize;

  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.drink {
  display: grid;
  grid-template-columns: 2.5fr 3fr;
  gap: 50px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.drink img {
  border-radius: var(--mainBorderRadius);
}
.info-container {
  text-align: left;
  /* line-height: 300%; */
}

.info-container p {
  font-weight: 700;
  text-transform: capitalize;
  line-height: 280%;
}
.info-container span {
  background: var(--primaryLightColor);
  padding: 0.25rem 0.5rem;
  border-radius: var(--mainBorderRadius);
  color: var(--primaryColor);
  margin-right: 15px;
}
